# RabbitMQ Credentials (definitions.json)
RABBITMQ_DEFAULT_USER=rabbitmq
RABBITMQ_DEFAULT_PASS=very-secret-password
RABBITMQ_DEFAULT_PASS_HASH=H/Ar6HVRhiTcNImzd5aM8AZKfVsHOVdVgt7Sbw9fb24kVAKY

# Crawler shall produce links that exceed the score threshold
URL_SCORE_THRESHOLD=20
CONTENT_SCORE_THRESHOLD=25

# Redis configuration
REDIS_CRAWLER_USER=crawler
REDIS_CRAWLER_PASSWORD=even-more-secret-password

# DB - PostgresSQL
POSTGRES_HOST=db
POSTGRES_PORT=5432
POSTGRES_USER=management
POSTGRES_PASSWORD=safe-and-secret-password
POSTGRES_DB=managementdb

# WebApp
# Public URL of Keycloak and the realm path
OAUTH2_ISSUER_URI=http://keycloak:8080/realms/local-dev
# URL used by Spring to access Keycloak and read certs
OAUTH2_JWK_URI=http://keycloak:8080/realms/local-dev/protocol/openid-connect/certs

# Frontend
VITE_OIDC_AUTHORITY=http://localhost:8180/realms/local-dev
VITE_OIDC_CLIENT_ID=ilo-cfp-classifier-app
VITE_OIDC_REDIRECT_URI=http://localhost:3000
VITE_OIDC_SCOPE=openid email
VITE_OIDC_POST_LOGOUT_REDIRECT_URI=http://localhost:3000/login
VITE_API_BASE_URL=/api/v1
VITE_SHOW_DEVTOOLS=false

# Classifier
CLASSIFIER_MODEL=model-to-use
CLASSIFIER_ILO_ELIGIBILITY_MODEL=
CLASSIFIER_OPENROUTER_API_KEY=key
CLASSIFIER_RETRY_DELAY_SECONDS=60
CLASSIFIER_REQUEST_DELAY_SECONDS=2
CLASSIFIER_MAX_CONTEXT_TOKENS=180000
CLASSIFIER_AUTH_URL='http://keycloak:8180/realms/REALM/protocol/openid-connect/token'
CLASSIFIER_AUTH_CLIENT_ID='CLIENT_ID'
CLASSIFIER_AUTH_CLIENT_SECRET='secret_key'

# Keycloak
KEYCLOAK_ADMIN=admin
KEYCLOAK_ADMIN_PASSWORD=admin
